.app {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100vw;
}

.field {
    flex: 2.5;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}